.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0px auto 50px auto;

    @media (max-width: 1239px) {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
        max-width: 335px;
    }

    .banner {
        overflow: hidden;
        width: 1240px;
        height: 223px;
        margin: 20px auto;
        border-radius: 25px;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1239px) {
            max-width: 335px;
            width: 100%;
            height: 111px;
            padding: 0 20px;
            border-radius: 10px;
            justify-content: left;
            margin: 0;
        }

        &__img {
            position: absolute;
            inset: 0;

            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

            @media (max-width: 1239px) {
                object-position: 80% center;
                transform: scale(1.1);
            }
        }

        // voile sombre
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1;
        }

        &__text {
            position: absolute;
            z-index: 2;
            color: white;
            font-size: 48px;
            font-weight: 700;
            font-style: bold;
            text-align: center;
        }
    }

    .details {
        width: 70%;
        background-color: $secondary-color;
        border-radius: 5px;
        overflow: hidden; // propre pour les coins

        @media (max-width: 1239px) {
            width: 100%;
        }

        &:open {
            img {
                rotate: 180deg;
            }
        }

        &__summary {
            background-color: $primary-color;
            color: white;
            font-weight: 700;
            font-size: 24px;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 1239px) {
                font-size: 13px;
                padding: 7px 20px;

                img {
                    height: 20px;
                    width: 20px;
                }
            }
        }

        &__content {
            padding: 20px;

            @media (max-width: 1239px) {
                font-size: small;
                border-radius: 5px;
                padding: 10px;
            }
        }
    }
}
