.footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0px 20px 0px;

    p {
        color: white;
    }
}
