.footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0px 20px 0px;

    @media (max-width: 1239px) {
        gap: 0;
        padding: 66px 0px 40px 0px;
    }

    p {
        color: white;

        @media (max-width: 1239px) {
            width: 133px;
            height: 46px;
            font-size: 12px;
            text-align: center;
            padding: 10px;
        }
    }
}
