.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
    padding: 0px 100px;

    &__nav {
        display: flex;
        align-items: center;
        gap: 57px;

        a {
            color: black;
            text-decoration: none;
            font-weight: 500;
            font-size: 24px;

            &.active {
                text-decoration: underline;
            }
        }
    }
}
