.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 30px auto;
    box-sizing: border-box;
    max-width: 1240px;
    @media (max-width: 1239px) {
        height: 47px;
        padding: 20px 20px;

        img {
            height: 47px;
            width: 145px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 57px;
        @media (max-width: 1239px) {
            gap: 26px;
        }

        a {
            color: black;
            text-decoration: none;
            font-weight: 500;
            font-size: 24px;

            @media (max-width: 1239px) {
                font-size: 12px;
                text-transform: uppercase;
            }

            &.active {
                text-decoration: underline;
            }
        }
    }
}
