#home {
    .banner {
        overflow: hidden;
        width: 1240px;
        height: 223px;
        margin: 20px auto;
        border-radius: 25px;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        &__img {
            position: absolute;
            inset: 0;

            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        // voile sombre
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 1;
        }

        &__text {
            position: absolute;
            z-index: 2;
            color: white;
            font-size: 48px;
            font-weight: 700;
            font-style: bold;
            text-align: center;
        }
    }

    .cardsContainer {
        height: 829px;
        width: 1240px;
        background-color: rgb(246, 246, 246);
        margin: 30px auto 50px auto;
        border-radius: 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 50px;
        gap: 50px;
        overflow: scroll;

        .card {
            height: 340px;
            width: 340px;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(10, 10, 10, 0) 42%,
                rgba(4, 4, 4, 0.205) 99.99%,
                rgba(0, 0, 0, 0.5) 100%
            );
            position: relative;
            border-radius: 10px;
            overflow: hidden;

            &::after {
                content: "";
                background: linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0.1) 42%,
                    rgba(0, 0, 0, 0.1) 70%,
                    rgba(0, 0, 0, 0.6) 80%,
                    rgba(0, 0, 0, 0.6) 100%
                );
                position: absolute;
                height: 100%;
                width: 100%;
            }

            &__img {
                height: 100%;
                width: 100%;
                position: absolute;
                z-index: 0;
            }

            &__title {
                position: absolute;
                color: white;
                top: calc(100% - 24px);
                transform: translateY(-24px);
                left: 12px;
                max-width: 70%;
                z-index: 2;
                offset-anchor: top left;
            }
        }
    }
}
