.banner {
    overflow: hidden;
    width: 1240px;
    height: 223px;
    margin: 20px 100px;
    border-radius: 25px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    // voile sombre
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }

    &__text {
        position: absolute;
        z-index: 2;
        color: white;
        font-size: 48px;
        font-weight: 700;
        font-style: bold;
        text-align: center;
    }
}
