#home {
    display: flex;
    flex-direction: column;

    .banner {
        overflow: hidden;
        max-width: 1240px;
        width: 100%;
        height: 223px;
        margin: 20px auto;
        border-radius: 25px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 4px 0px #00000040;

        @media (max-width: 1239px) {
            max-width: 335px;
            width: 100%;
            height: 111px;
            padding: 0 20px;
            border-radius: 10px;
            justify-content: left;
        }

        &__img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

            @media (max-width: 1239px) {
                object-position: 80% center;
                transform: scale(1.8);
            }
        }

        // voile sombre
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 1;
        }

        &__text {
            position: absolute;
            z-index: 2;
            color: white;
            font-size: 48px;
            font-weight: 700;
            font-style: bold;
            text-align: center;

            .mobile-break {
                display: inline;
                @media (max-width: 1239px) {
                    display: block;
                }
            }

            @media (max-width: 1239px) {
                text-align: left;
                font-size: 24px;
            }
        }
    }

    .cardsContainer {
        height: 829px;
        max-width: 1240px;
        width: 100%;
        background-color: rgb(246, 246, 246);
        margin: 30px auto 50px auto;
        border-radius: 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 50px;
        gap: 50px;
        overflow: scroll;
        @media (max-width: 1239px) {
            background: none;
            max-width: 335px;
            max-height: 785px;
            margin: 0 auto 20px auto;
            padding: 0;
            border-radius: 10px;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }

        .card {
            height: 340px;
            width: 340px;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(10, 10, 10, 0) 42%,
                rgba(4, 4, 4, 0.205) 99.99%,
                rgba(0, 0, 0, 0.5) 100%
            );
            position: relative;
            border-radius: 10px;
            overflow: hidden;

            @media (max-width: 1239px) {
                height: 255px;
                width: 335px;
            }

            &::after {
                content: "";
                background: linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0.1) 42%,
                    rgba(0, 0, 0, 0.1) 70%,
                    rgba(0, 0, 0, 0.6) 80%,
                    rgba(0, 0, 0, 0.6) 100%
                );
                position: absolute;
                height: 100%;
                width: 100%;
            }

            &__img {
                height: 100%;
                width: 100%;
                position: absolute;
                z-index: 0;
            }

            &__title {
                position: absolute;
                color: white;
                top: calc(100% - 24px);
                transform: translateY(-24px);
                left: 12px;
                max-width: 70%;
                z-index: 2;
                offset-anchor: top left;
            }
        }
    }
}
