// slider

.sliderContainer {
    margin: 0 auto 50px auto;
    height: 415px;
    width: 1240px;
    overflow: hidden;
    position: relative;
    border-radius: 25px;

    @media (max-width: 1239px) {
        height: 255px;
        width: 335px;
        margin: 0 auto 10px auto;
        border-radius: 10px;
    }

    //Width 100% : image zommée non déformée
    //Height 100% : image non zoomée mais marges sur les cotés
    // Width et Height : l'image prend tout mais déformée.

    .slider {
        display: flex;
        transition: transform 200ms ease-out;
        height: 100%;

        &__img {
            height: 100%;
            min-width: 1240px;
            display: flex;
            justify-content: center;

            @media (max-width: 1239px) {
                min-width: 335px;
            }

            img {
                width: 100%;
                max-width: 1240px;
                @media (max-width: 1239px) {
                    max-height: 255px;
                }
            }
        }
    }
}

.arrow {
    height: 100%;
    border: none;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1239px) {
        img {
            height: 24px;
            width: 24px;
        }
    }
}

.left {
    left: 0px;
    &:hover {
        background: linear-gradient(
            -90deg,
            rgba(0, 0, 0, 0.1) 0%,
            rgba(0, 0, 0, 0.5) 100%
        );
    }
}

.right {
    right: 0px;
    &:hover {
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.1) 0%,
            rgb(0, 0, 0, 0.5) 100%
        );
    }
}

.nbrImages {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 25px 50%;
    z-index: 3;
    color: white;

    @media (max-width: 1239px) {
        display: none;
    }
}

// contenu
.dataContent {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 1239px) {
        flex-direction: column;
        max-width: 335px;
    }

    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 1239px) {
            max-width: 335px;
            flex-direction: column;
        }

        .dataHeader {
            display: flex;
            flex-direction: column;

            @media (max-width: 1239px) {
            }

            .dataTitle {
                font-family: Montserrat;
                font-weight: 500;
                font-size: 36px;
                vertical-align: bottom;
                color: $primary-color;
                text-overflow: ellipsis;
                margin-bottom: 15px;

                @media (max-width: 1239px) {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
            }

            .dataLocation {
                font-weight: 500;
                font-size: 18px;
                margin-bottom: 20px;
                @media (max-width: 1239px) {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
            }

            .dataTags {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;

                @media (max-width: 1239px) {
                    max-width: 335px;
                    flex-wrap: wrap;
                    margin-bottom: 10px;
                }

                &__tag {
                    background-color: $primary-color;
                    padding: 5px 20px;
                    font-weight: 700;
                    font-size: 14px;
                    text-align: center;
                    border-radius: 10px;
                    color: white;

                    @media (max-width: 1239px) {
                        font-size: 10px;
                        margin-bottom: 0;
                    }
                }
            }
        }

        .dataBody {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media (max-width: 1239px) {
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;
            }

            .dataHost {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;

                img {
                    height: 32px;
                    width: 32px;
                    border-radius: 16px;

                    @media (max-width: 1239px) {
                        flex-direction: row-reverse;
                        align-items: center;
                    }
                }

                p {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 100%;
                    font-weight: 500;
                    font-size: 18px;
                    vertical-align: bottom;
                    color: $primary-color;
                }
            }

            .hostRate {
                display: flex;
                justify-content: space-between;
                gap: 12px;
                font-size: 24px;
                max-width: 196px;

                @media (max-width: 1239px) {
                    font-size: 13px;
                    gap: 6px;
                }

                .star {
                    color: #e3e3e3;

                    &--active {
                        color: #ff6060;
                    }
                }
            }
        }
    }

    .bottom {
        display: flex;
        gap: 60px;
        align-items: flex-start;
        margin-bottom: 50px;

        @media (max-width: 1239px) {
            flex-direction: column;
            gap: 20px;
            margin-bottom: 20px;
        }

        .details {
            width: 50%;
            background-color: $secondary-color;
            border-radius: 5px;
            overflow: hidden; // propre pour les coins

            @media (max-width: 1239px) {
                width: 100%;
            }

            &:open {
                img {
                    rotate: 180deg;
                }
            }

            &__summary {
                background-color: $primary-color;
                color: white;
                font-weight: 700;
                font-size: 18px;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: 1239px) {
                    font-size: 13px;
                    padding: 7px 20px;

                    img {
                        height: 20px;
                        width: 20px;
                    }
                }
            }

            &__content {
                padding: 20px;
                border-radius: 5px;

                @media (max-width: 1239px) {
                    font-size: small;
                    padding: 10px;
                }
            }
        }
    }
}
