/*import des fichiers SCSS*/
@import "variables";
@import "header";
@import "home";
@import "logement";
@import "about";
@import "error";
@import "footer";

/*import de la police décriture montserrat*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

/* =========================
   Reset de base
   ========================= */

html {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-family: Montserrat;
    margin: 0px auto;
    @media (max-width: 1239px) {
        max-width: 375px;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
