/*import des fichiers SCSS*/
@import "variables";
@import "header";
@import "home";
@import "logement";
@import "footer";

/*import de la police décriture montserrat*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* =========================
   Reset de base
   ========================= */

html {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-family: Montserrat;
    margin: 0px auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
